<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocketIO client</title>
</head>
<body>
<p>Open console of the browser to see the results.</p>
<script src="./static/socketio.js"></script>
<script>
    var socket = io('http://127.0.0.1:8000');
    socket.on('connect', function () {
        console.log('connected');
        socket.emit('dog', null, function (data) {
            console.log('dog received:', data);
        });
        socket.emit('cat', null, function (data) {
            console.log('cat received:', data);
        });
    });
    socket.on('disconnect', function () {
        console.log('disconnected');
    });
</script>
</body>
</html>